<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>定制游企业联盟</title>
  <link rel="Shortcut Icon" href="/static//static/images/favorite.ico" type="image/x-icon" />
  <link rel="Bookmark" href="/static/images/favorite.ico" type="image/x-icon" />
  <link rel="icon" href="/static/images/favorite.ico" type="image/x-icon" />
  <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/font.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/nav.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/content.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/responsive.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div id="navBarWrap">
    <div class="container">
      <div class="navBar">
        <a href="{% url "index" %}" class="logo"><img src="/static/images/logo.png"/></a>
        <div class="nav">
          <a href="{% url "index" %}" class="active">首 页</a>
          <a href="{% url "calendarInfo.list" %}">定制游机构名录</a>
        </div>
      </div>
    </div>
  </div>



  <div id="topBanner">
    <div class="container">
      <div class="content">
        <div class="slogen">
          个性化时代<br/>合作共赢
          <div class="border"></div>
        </div>
        <div class="txt">助力定制游行业产品升级、服务升级和人才升级，维护行业良性健康发展</div>
      </div>
      <div class="panel">
        <h3>性质：</h3>
        <p>非政府组织（NGO），由定制游行业旅行机构和相关企业自发组织的企业联盟。</p><br/>

        <h3>宗旨：</h3>
        <p>1.联合国内优质定制游企业成立企业联盟，共同确立定制游行业服务标准，规范行业发展，提高企业服务水平，增加游客出游体验；</p>
        <p>2.促进行业内企业加强信息沟通，开展业务合作；</p>
        <p>3.推动定制游行业人才教育，培养高素质定制游人才，搭建定制游行业人才数据库，满足定制游企业对优质人才的需求。</p>

        <div class="border"></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page">
      <div class="sectionTitle"><span>联盟发起方</span></div>
      <div class="logoWrap">
        <span><img src="/static/images/logo/logoZX.png"/> </span>
        <span><img src="/static/images/logo/logoHH.png"/> </span>
        <span><img src="/static/images/logo/logoYY.png"/> </span>

        <span><img src="/static/images/logo/logoLL.png"/> </span>
        <span><img src="/static/images/logo/logoJZM.png"/> </span>
        <span><img src="/static/images/logo/logoYX.png"/> </span>

        <span><img src="/static/images/logo/logo6RY.png"/> </span>
        <span><img src="/static/images/logo/logoWK.png"/> </span>
        <span><img src="/static/images/logo/logoXZY.png"/> </span>

        <span><img src="/static/images/logo/logoKPS.png"/> </span>
        <span><img src="/static/images/logo/logoHY.png"/> </span>
        <span><img src="/static/images/logo/logoDBT.png"/> </span>
      </div>
    </div>
  </div>


  <div id="bottomInfo">
      <div class="title">定制游机构精选名录</div>
     将于2017年7月13日在 路书特约之定制游论坛 首次盛大发布

  </div>


  <div id="footerWrap">
    <div class="container">

      <div class="col50">
        <div class="qrCode">
          <img src="/static/images/qrCode.png"/>
          <p>扫一扫 申请加入名录</p>
        </div>

      </div>
      <div class="col50">
        <div class="date"><img src="/static/images/date.png"/> </div>
      </div>
    </div>
  </div>





</body>
</html>
